.container{
    display: flex;
    height: 100vh;
}

/* Navbar */

.navbar{
    width: 60px;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
    font-size: 1.2rem;
    background-color:#373737;
    z-index: 1;
}

.navbar-logo img{
    width: 50px;
}

.navbar-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #999999;
    transition: color 1s;
    cursor: pointer;
}

.navbar-item:hover{
    color: #fff;
}

.navbar-item__icon{
    padding-bottom: 5px;
}

/* Prolist */

.prolist{
    margin-left: -250px;
    width: 250px;
    border-right: 1px solid #000;
    padding: 0px 10px;
    background-color: #535353;
    color: #ffffff;
    transition: margin-left .7s;
    z-index: 0;
}

.prolist.active {
    margin-left: 0px;
}

.prolist-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.prolist-head__title{
    font-size: 1.5rem;
    font-weight: bold;
}

.prolist-func{
    display: flex;
    gap: 7px;
}

.prolis-filter{
    display: flex;
    align-items: center;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 2px 10px;
    margin: 30px 0;
}

.prolis-filter:focus-within {
    border-color: aqua; 
}

.prolist-filter__input{
    border: none;
    background: transparent;
    outline: none;
    caret-color: aqua;
    font-size: 1.6rem;
    font-family: inherit;
    padding: 2px 7px;
    color: #fff;
}

.prolist-ol{
    padding: 20px 10px 0 15px;
}

.prolist-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.prolist-item__name{
    cursor: pointer;
    width: 80%;
    white-space: nowrap;     
    overflow: hidden;        
    text-overflow: ellipsis;  
}

.prolist-item__name:hover{
    color: aqua;  
}

.prolist-item__remove{
    scale: 0.9;
    cursor: pointer;
}

.prolist-item__remove:hover{
    color: red;
}

/* Hero */
.hero{
    width: 100%;
}

.hero-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #373737;
}

.hero-nav__func{
    display: flex;
    gap: 30px;
}

/* Popup create project */
.popup_create_project {
    display: none; /* Ẩn popup ban đầu */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup_create_project-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.popup_create_project-content h2 {
    margin-bottom: 25px;
}

.popup_create_project-content input,
.popup_create_project-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup_create_project-content button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup_create_project-content button:hover {
    background-color: #0056b3;
}

.popup_create_project-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


