<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
  <div class="wrapper">
    <form name="register_form" onsubmit="return register(event)">
      <h2 class="login-form__title">Register</h2>
      <div class="input-field">
        <input type="text" name="username" required>
        <label>Enter your username</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" required>
        <label>Enter your password</label>
      </div>
      <div class="input-field">
        <input type="password" name="confirmPassword" required>
        <label>Confirm your password</label>
      </div>
      <button type="submit" class="login-form__submit">Register</button>
      <div class="login-redirect">
        <p>Already have an account?</p>
        <a href="/api/auth/login" class="login-button">Login</a>
      </div>
    </form>
  </div>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="/js/register.js"></script>
</body>
</html>
